.body1{
  background-color: #011627;
  padding-left: 100px;
  padding-right: 100px;

padding-bottom: 200px;
transition: 0.4s;
scroll-width:none;
scroll-behavior: smooth;
background-attachment: scroll;
}




*{
    margin: 0;
    padding: 0;
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid grey;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite alternate;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;

}



body{
  background-color: #011627;
  margin:0;
  min-width: 1300px;



}



img{

image-resolution: snap;
border-radius: 10px;




}


.mySlides{

display:none;
border-radius: 50px;
border-color: grey;
border-style: solid;



}


.contact{
padding-left: 250px;
padding-top: 100px;
cursor: pointer;
}
.contact a:hover,d:hover{
  font-size: 25px;
  transition: 0.5s;


}
#github:hover{
  background-color: none;

.mySlides{

display:none;

}

}



.project b{

}

.image{


}




.about{

  text-align:  ;



}


.topnav{
  text-align: center;

background-color: #a19f9c ;
  border: 1px solid grey;
position: fixed;
width: 100%;
padding:25px 30px;
border-top: none;
border-left: none;
border-right: none;
transition: top 0.3s;
z-index:1;

}


.topnav p{
  float:left;
  font-size: 10px;
  color:black;
  font-style: ;


}


.topnav a{

  text-decoration: none;
  color:black;
  padding:15px 15px;
transition: 0.3s;
text-align: center;
font-family: sans-serif;
border-radius: 25px;
font-size: 50px;

}
.topnav a:hover{

  color:#3d0c0cc;
}



.study{

  text-align: ;


}

.skills p {
  margin-left: 100px ;
margin-top: 30px;
font-size: 25px;





}



#dnd:hover{



  background-color: black;
  color:white;


}


b {
  font-size: 25px;
}



#dnd{
  background-color: #f1f1f1;
  border: 2px solid grey;
  color: black;
  padding: 10px 20px;
  border-radius:20px;
  text-decoration: none;
  margin-right:90px;
  cursor: pointer;
  float: right;
  font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)

}

a:hover{
  background-color:black ;
 color: white;
}








h2{
  font-size: 30px;
  color:#CCFFFF;
  text-align: center;
  font-family: sans-serif;
  text-align-last: center;
}

h3{

  color: #CCFFFF;
  text-align: left;
  font-family: 'verdana', sans-serif;

  text-decoration: none;

}

.CERTIFICATE td{
  padding :50px;
}



a:link{
  text-decoration: none;
  font-size: 20px;
font-family: 'girassol',cursive;


}

a:hover{
  color: lightgrey;

}

h4{
  color:grey;
  padding-left: 250px;
  padding-bottom: 150px;

}


h1{
  color: #CCFFFF;
  text-align: center;
  font-family: 'sansita',sans-serif;

}

p,d{
  color: grey;
  font-size: 20px;
  font-family: 'Girassol', cursive;

}
