.body1{
  background-color: #011627;
  padding-left: 100px;
  padding-right: 100px;

padding-bottom: 200px;
transition: 0.4s;
scroll-width:none;
scroll-behavior: smooth;
background-attachment: scroll;
}




*{
    margin: 0;
    padding: 0;
}
.rate {
    justify-content: center;
    display: flex;
    height: 46px;
    padding: 0 10px;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}




.rate input label{
  padding:50px;

}




body{
  background-color: #011627;
  margin:0;
  min-width: 1300px;



}



img{

image-resolution: snap;
border-radius: 100%;



}




.mySlides{

display:none;
border-radius: 50px;
border-color: grey;
border-style: solid;



}






.contact{
padding-left: 250px;
padding-top: 100px;
cursor: pointer;
}
.contact a:hover,d:hover{
  font-size: 25px;
  transition: 0.5s;


}



.project b{

}

.image{


}




.about{

  text-align:  ;



}


.topnav{
  text-align: center;

background-color: #a19f9c ;
  border: 1px solid grey;
position: fixed;
width: 100%;
padding:25px 30px;
border-top: none;
border-left: none;
border-right: none;
transition: top 0.3s;
z-index:1;

}


.topnav p{
  float:left;
  font-size: 10px;
  color:black;
  font-style: ;


}


.topnav a{

  text-decoration: none;
  color:black;
  padding:15px 15px;
transition: 0.3s;
text-align: center;
font-family: sans-serif;
display:;
font-size: 50px;

}
.topnav a:hover{

  color:#3d0c0cc;
}



.study{

  text-align: ;


}

.skills p {
  margin-left: 100px ;
margin-top: 30px;
font-size: 25px;





}



#dnd:hover{



  background-color: black;
  color:white;


}


b {
  font-size: 25px;
}



#dnd{
  background-color: #f1f1f1;
  border: 2px solid grey;
  color: black;
  padding: 10px 20px;
  border-radius:20px;
  text-decoration: none;
  margin-right:90px;
  cursor: pointer;
  float: right;
  font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)

}

a:hover{
  background-color: black;
 color: white;
}








h2{
  font-size: 30px;
  color:#CCFFFF;
  text-align: center;
  font-family: sans-serif;
  text-align-last: center;
}

h3{

  color: #CCFFFF;
  text-align: left;
  font-family: 'verdana', sans-serif;

  text-decoration: none;

}

.CERTIFICATE td{
  padding :50px;
}

.contact{

}

a:link{
  text-decoration: none;
  font-size: 20px;
font-family: 'girassol',cursive;


}

a:hover{
  color: lightgrey;

}

h4{
  color:grey;
  padding-left: 250px;
  padding-bottom: 150px;

}


h1{
  color: #CCFFFF;
  text-align: center;
  font-family: 'sansita',sans-serif;

}

p,d{
  color: grey;
  font-size: 20px;
  font-family: 'Girassol', cursive;

}
